{% extends "base.html" %}


{% block title %}
    Following Reports
{% endblock %}


{% block body %}
    <div class="container pt-5 pb-5">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 card-container">
                    <div class="card custom-card">
                        <div class="card-body">
                            <table class="table table-striped table-hover caption-top">
                                <caption>Number of Gold, Silver and Bronze Medals and who has won them.</caption>
                                <thead class="table-secondary">
                                <tr>
                                    <th>Name</th>
                                    <th>Gold Medals</th>
                                    <th>Silver Medals</th>
                                    <th>Bronze Medals</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in result %}
                                    <tr>
                                        <td><strong>{{ i[0] }} {{ i[1] }}</strong></td>
                                        <td>{{ i[2] }}</td>
                                        <td>{{ i[3] }}</td>
                                        <td>{{ i[4] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 card-container">
                    <div class="card custom-card">
                        <div class="card-body">
                            <table class="table table-striped table-hover caption-top">
                                <caption>Members listed grouped into teams, with members ordered by last name then first name within each team.</caption>
                                <thead class="table-secondary">
                                <tr>
                                    <th>Team Name</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in teammember %}
                                    <tr>
                                        <td>{{ i[1] }}</td>
                                        <td>{{ i[2] }}</td>
                                        <td>{{ i[3] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


