<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% block css_js %}{% endblock %}
</head>
<body>
<nav class="bg-body-tertiary sticky-top">
    <div class="container-fluid navbar logo">
        <div class="container pt-3">
            <img src="../static/image/Logo.png" alt="Olympic Committee Logo">
            <h2>NZ Winter Olympics Member System</h2>
        </div>
    </div>
    <div class="nav nav-tabs container pt-2" id="nav-tab" role="tablist">
        {% if not adminflag %}
            <a class="nav-link {{ 'active' if showid == 1 else '' }}" style="width: auto" href={{ url_for('admin_page') }}><img class="px-1" src="../static/image/home.svg" alt="SVG Icon">Home</a>
            <a class="nav-link {{ 'active' if showid == 2 else '' }}" style="width: auto" href={{ url_for('admin_member_page') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Member Page</a>
            <a class="nav-link {{ 'active' if showid == 3 else '' }}" style="width: auto" href={{ url_for('admin_event_page') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Event Page</a>
            <a class="nav-link {{ 'active' if showid == 4 else '' }}" style="width: auto" href={{ url_for('admin_event_stage') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Event Stage</a>
            <a class="nav-link {{ 'active' if showid == 5 else '' }}" style="width: auto" href={{ url_for('admin_team_page') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Team Page</a>
            <a class="nav-link {{ 'active' if showid == 6 else '' }}" style="width: auto" href={{ url_for('admin_event_stage_result') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Event Stage Result</a>
            <a class="nav-link {{ 'active' if showid == 7 else '' }}" style="width: auto" href={{ url_for('admin_following_reports') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Following Reports</a>
        {% else %}
            <a class="nav-link {{ 'active' if showid == 1 else '' }}" style="width: auto" href={{ url_for('home_page') }}><img class="px-1" src="../static/image/home.svg" alt="SVG Icon">Home</a>
            <a class="nav-link {{ 'active' if showid == 2 else '' }}" style="width: auto" href={{ url_for('member_page') }}><img class="px-1" src="../static/image/bookmark.svg" alt="SVG Icon">Member</a>
        {% endif %}
    </div>
</nav>


<main class="bottom_display">
    <div class="flex-grow-1">
        <div class="tab-content container" id="nav-tabContent" style="background-color: rgba(248, 249, 250, 0.7);">
            <div class="tab-pane fade show active" tabindex="0">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <ul class="footer-links">
                <li><a class="px-2" href="https://github.com/LeoZhao-code/nzolywebapp"><img class="px-1" src="../static/image/github.svg" alt="SVG Icon">Github Page</a></li>
            </ul>
        </nav>
        <p>&copy; 2023 Olympic Committee. All rights reserved.</p>
    </footer>
</main>

{% block myjs %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>